---
layout: default
title: Book Notes
permalink: booknotes
---

<h1 class="page-title">
  {{ page.title }}
</h1>

<p class="message">
	Some notes and reflections on books I've read.
</p>

<div class="posts">
  {% assign sorted = (site.books | sort: 'date') | reverse %}
  {% for book in sorted %}
  	{% if book.title != "Feed" %}
	  <h1 class="post-title" style="color: #639BF1;">
	    {{ book.title }}
	  </h1>
	  <span class="post-date">{{ book.date | date: '%B %d, %Y' }}</span>
	  {{ book.content }}
	{% endif %}
  {% endfor %}
</div>
